<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/f419dc6d9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <%-include('_header')%>
    </header>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right sidebar" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
                    onclick="openDashboard()"><i class="fas fa-tachometer-alt"></i> Admin Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white" onclick="openUsers()"><i
                        class="fa-solid fa-hospital-user"></i> Users</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
                    onclick="openSettings()"><i class="fas fa-cogs"></i> Service & Charges</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white" onclick="openProfile()"><i
                        class="fas fa-sign-out-alt"></i> My Profile</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="dashboard" class="dashboard container-fluid">
                <h3 class="mt-4">Dashboard</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                                <div class="card-title">Appointments</div>
                                <div class="card-text" id="aptcount">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card bg-success text-white shadow">
                            <div class="card-body">
                                <div class="card-title">Pathology Bills</div>
                                <div class="card-text" id="pathcount">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                                <div class="card-title">Cancelled Appointments</div>
                                <div class="card-text" id="canAptcount">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                                <div class="card-title">Cancelled Pathology Bills</div>
                                <div class="card-text" id="canPathcount">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="users" class="users">
                <table class="table-bordered table-striped">
                    <thead>
                        <tr class="bg">
                            <th>Username</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="usersListTable">

                    </tbody>
                </table>
            </div>

            <div id="settings" class="settings">
                <div class="card text-center" style="width: 45%; margin-left: 5%;">
                    <h3 class="mb-3" style="margin: 5%;">Services & Charges</h3>
                    <div id="services-list">
                    </div>
                    <div>
                        <button class="btn btn-success"
                            style="width: 70%; padding: 2%; background-color:  #025E73; margin: 5%;"
                            onclick="saveSettings()"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    </div>
                </div>
                <div class="card text-center" style="width: 45%; align-items: center; margin-left: 3%;">
                    <h3 style="margin: 5%;">Add a New Service</h3>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Name" placeholder="name@example.com">
                        <label for="Name"><i class="fas fa-cogs"></i> Service Name <span>*</span></label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Price" placeholder="name@example.com">
                        <label for="Name"><b>₹ </b>Price <span>*</span></label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Category" placeholder="name@example.com">
                        <label for="Name"><b> </b><i class="fa-solid fa-list"></i> Category<span>*</span></label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="RefRange" placeholder="name@example.com">
                        <label for="Name"><i class="fa-solid fa-arrow-down-wide-short"></i> Normal
                            Range<span>*</span></label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Notes" placeholder="name@example.com">
                        <label for="Name"><i class="fa-solid fa-file-waveform"></i> Default Notes<span>*</span></label>
                    </div>
                    <button class="btn btn-success" style="margin-top: 2%; padding: 5px; width: 40% !important; background-color: #025E73 ;" onclick="AddNewService()"><i class="fa-solid fa-file-circle-plus"></i> Add</button>

                </div>

            </div>

            <div id="profile" class="card" style="padding:3%;">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="profileName" placeholder="name@example.com">
                    <label for="Name"><i class="fas fa-user"></i> Name<span>*</span></label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="profileMobile" placeholder="name@example.com">
                    <label for="Name"><i class="fa-solid fa-phone"></i> Mobile Number<span>*</span></label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="profileUsername" placeholder="name@example.com">
                    <label for="Name"><i class="fa-solid fa-address-card"></i> Username<span>*</span></label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="profileRole" readonly placeholder="name@example.com">
                    <label for="Name"><i class="fa-solid fa-users-gear"></i> Role<span>*</span></label>
                </div>
                <div class="text-center" style="padding: 2%;">
                    <input style="width: 50%;" type="button" onclick="updateProfile()"
                        class="form-control btn btn-success" value="Update">
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>