<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body style="background-color:#f6f8fc; text-align: center;" onload="getProfileName()">
    <header>
        <%-include('_header')%>
    </header>
    <div class="passwordCard">
       
        <h4 style="text-align: center; margin-bottom: 8%;"> Change Password</h4>
        <i class="fa-solid fa-user-lock fa-2x"></i> <br>
        <label class="mb-4" id="proName" style="margin: 2%; font-size: large; font-weight: bold;"></label>

        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="oldPass" placeholder="name@example.com">
            <label for="Name">Old Password <span>*</span></label>
        </div>
        <div class="form-floating mb-2">
            <input  type="password" autocomplete="disabled" class="form-control" id="pass"
                placeholder="name@example.com">
            <label> New Password <span>*</span></label>
        </div>
        <div class="form-floating mb-2">
            <input  type="password" class="form-control" id="confPass" placeholder="name@example.com">
            <label> Confirm Password <span>*</span></label>
        </div>
        <label style="color: gray; "><i>Set a strong Password with letters and numbers</i></label>
        <button id="register" class="btn"
            style="font-size: medium; width: 50%;margin-top: 2%; background-color: #025E73;" type="submit" value=""
            onclick="changePassword()">Save</button>
    </div>
    <style>
        .passwordCard {
            display: inline-block;
            width: 30%;
            margin-top: 4%;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 2%;
            padding-bottom:2% ;
            text-align: center;
            background-color: white;
            border-radius: 30px;
            box-shadow: 2px 2px 10px 6px lightblue;
        }

        span {
            color: red;
        }
    </style>

    <script>
        function changePassword() {
            let oldPassword = document.getElementById('oldPass').value
            let password = document.getElementById('pass').value
            let repeatPassword = document.getElementById('confPass').value
            if (password != repeatPassword) {
                new Noty({
                    theme: 'relax',
                    text: 'Password and confirm password are not matching',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
                return
            }
            if (!password || password == '') {
                new Noty({
                    theme: 'relax',
                    text: 'Password can not be empty',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
                return
            }
            if (!oldPassword || oldPassword == '') {
                new Noty({
                    theme: 'relax',
                    text: 'Old Password is mandatory',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
                return
            }
            $.ajax({
                url: '/user/updatePassword',
                type: 'post',
                data: {
                    oldPassword,
                    password
                },
                success: function (data) {

                    new Noty({
                        theme: 'relax',
                        text: data.message,
                        type: 'success',
                        layout: 'topRight',
                        timeout: 1500
                    }).show();
                    document.getElementById('oldPass').value = ''
                    document.getElementById('pass').value = ''
                    document.getElementById('confPass').value = ''
                    return

                },
                error: function (err) {

                    new Noty({
                        theme: 'relax',
                        text: 'Faild to update password',
                        type: 'error',
                        layout: 'topRight',
                        timeout: 1500
                    }).show();
                    return

                }

            })
        }

        function getProfileName() {
            $.ajax({
                url: '/user/profile',
                success: function (data) {
                    document.getElementById('proName').textContent = data.user.Name

                },
                error: function (err) {}
            })
        }
    </script>
</body>

</html>