<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error: 500</title>
</head>
<body style="text-align: center;">
    <div>
    <img style=" width: 44%;" src="/images/error500.jpg" alt="Internal Server Error : 500">
    </div>
</body>
    
</body>
</html>