<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <img src="/images/error500.jpg" alt="Internal Server Error : 500">
    <h1></h1>
</body>
</html>