<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/patientHistory.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body style="width: 100%;background-color: #bfc7c4;" onload="getAllVisits()" id="frame">
    
    <div class="pageTitle" style="display: flex;justify-content: space-between;position: fixed;width: 100%;top: 0;">
        <h4>Patient History</h4>
        <button onclick="closeHistory()">Close</button>
    </div>
    <div class="patient-info-container mt-3" style="display: flex;">
        <label id="patientID" hidden><%=patient._id%></label>
        
    </div>
    <main style="padding: 20px;width: 100%;display: flex;justify-content: space-between;">
        
        <div style="width: 85%;" id="visit-container">
            
            <!-- New visit blocks will be added here -->
        </div>
        <div class="card" style="width: 14%;margin-top: 2%; height: fit-content;position: sticky;top: 60px;">
            <div class="card-header text-white">
                <h6><strong><i class="fa-solid fa-square-poll-vertical"></i> Pathalogy Reports</strong></h6>
            </div>
            <table class="table table-bordered">
                <thead>
                    <th>Date</th>
                    <th>Report</th>
                </thead>
                <tbody id="pathReports">
                    
                </tbody>
            </table>
        </div>
    </main>
    <script src="/js/patientHistory.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>