<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchases</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="/css/purchases.css">
</head>

<body>
    <header>
        <%-include('_header')%>
    </header>
    <div id="loader" style="position: fixed;top:50% ;left: 35%;display: none;">
        <%-include('_loader')%>
    </div>
    <div style="display: flex; justify-content: space-between; width: 99%;">
        <div style="width: 71%; margin-left: 0.5%;">
            <div style="overflow-y: auto; height: 500px; border-top:2px dotted white;">
                <h4 class="text-white text-center"
                    style="padding: 10px; background-color: #343a40; text-align : center;">Purchase Entry</h4>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="bg">
                            <th>#</th>
                            <th>Item Name</th>
                            <th>Batch No.</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Seller Name</th>
                            <th>Category</th>
                            <th>Remove</th>
                            <!--
                            <th>Del.</th>
                            -->
                        </tr>
                    </thead>
                    <tbody id="prescriptionTableBody">

                    </tbody>
                </table>
            </div>
            <div style="display: flex; justify-content: center;margin: 12px 12px;">
                <button onclick="savePurchases()" style="width: 30%;" class="btn btn-success">Save</button>
            </div>

        </div>

        <div class="prescription-form" style="width: 29%;">
            <h4 style="text-align: center; font-weight: bold;">Add New Inventory</h4>
            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Item Name <label>*</label></span>
                </div>
                <input style="text-transform: uppercase;" type="text" id="Item" class="form-control"
                    list="medicineList">

                <datalist id="medicineList">
                    <%for(let i=0;i<inventory.length;i++){%>
                    <option value="<%=inventory[i]%>"></option>
                    <%}%>
                </datalist>
            </div>

            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                <span class="input-group-text" id="inputGroup-sizing-sm">Batch No</span>
                </div>
                <input type="text" id="Batch" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                </div>
                <input type="date" id="Date" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
                </div>
                <input type="number" id="Price" class="form-control">
            </div>
        
            
            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Quantity <label>*</label></span>
                </div>
                <input type="number" id="Quantity" class="form-control" >
            </div>

            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Seller Name </span>
                </div>
                <input type="text" id="SellerName" class="form-control" >
            </div>
            <div class="input-group">
                <div class="input-group-prepend" style="margin-top: 2px;height: 38px;">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                </div>
                <select name="" id="Category" class="form-control" >
                    <option value="Medicine">Medicine</option>
                    <option value="Hospital Exp.">Hospital Exp.</option>
                    <option value="Machinery">Machinery</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div style="padding-left: 12px;">
                <label>* Mandatory Details</label>
            </div>
<!--        
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Alert Quantity</span>
                </div>
                <input type="number" id="AlertQty" class="form-control" >
            </div>
            -->
            
            <div style="width: 100%; margin-top: 10%;">
                <button style="width: 60%; margin-left: 21%; margin-right: 19%;" class="btn btn-success" onclick="addMedications()">Add</button>
            </div>
        </div>
    </div>
    <script src="/js/purchases.js"></script>
</body>
</html>