<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sales History</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="/css/purchasesHistory.css">
</head>
<body>
    <header id="header">
        <%-include('_header')%>
    </header>
    <div class="main-body" id="main-body">
        <div class="heading">
            <h2>Sales History</h2>
        </div>
        <div class="searchElements" style="display: flex; justify-content:flex-start; margin-top: 1%;">
                <div style="margin-right: 1%;">
                    
                    <select name="" id="filterType" onchange="changeInputs()" style="height: 70%;">
                        <option value="byDate" selected>Exact Date</option>
                        <option value="byDateRange">Date Range</option>
                    </select>
                </div>
                
                <div id="dateRangeInputs" style="margin-right: 1%;">
                    <label for=""><b>Date Range : </b>&nbsp;</label>
                    <input type="date" name="" id="startDate">
                    <input type="date" name="" id="endDate">
                </div>
                <div id="dateInput" style="margin-right: 1%;">
                    <label for=""><b>Date : </b>&nbsp;</label>
                    <input style="height: 32px" type="date" name="" id="selectedDate">
                </div>
                <div style="margin-right: 1%;">
                    <select name="" id="billType" style="height: 70%;">
                        <option value="all">All Sales</option>
                        <option value="Appointment">Appointment Fees</option>
                        <option value="Pathology"> Pathology Bill</option>
                        <option value="DischargeBill">Discharge Bills</option>
                        <option value="Ultrasound">Ultrasound Bills</option>
                        <option value="IPDAdvance">IPD Advance payment</option>
                        <option value="Other">Other</option>
                        
                    </select>
                </div>
                <div>
                    <select name="" id="Doctor" style="height: 70%;">
                        <option value="">--Select Doctor--</option>
                        <option value="all" selected>All Doctors</option>
                        <option value="Dr Anuj Jain">Dr Anuj Jain</option>
                        <option value="Dr Swati Jain"> Dr Swati Jain</option>
                    </select>
                </div>
                <button style="height: 80%;margin-left: 2%; margin-bottom: 1%;" class="btn btn-success" onclick="getSalesHistory()">Search</button>
                <b style="margin-left: 1%;" id="tvalue"></b>
                <b style="margin-left: 1%;" id="tvaluecash"></b>
                <b style="margin-left: 1%;" id="tvalueonline"></b>
            <div>
                <b id="tvalue"></b>
            </div>
        </div>
        <div class="table-body" style="overflow: auto;">
            <table class="table table-striped table-bordered">
                <thead style="position: relative; top: 0%;">
                    <tr class="bg">
                        <th>#</th>
                        <th>Patient ID</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Entry Date</th>
                        <th>Open Bill</th>
                        <th>Doctor</th>
                        <th>Cash Amount</th>
                        <th>Online Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <%-include('_loader')%>
                <tbody id="historyBody">
                    <!-- Table rows will be populated dynamically -->
                     
                </tbody>
            </table>
        </div>
    </div>
    
<script src="/js/salesHistory.js"></script>
</body>
</html>
