<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main-body{
            height: 1030px;
            width: 99.9%;
            border: 1px solid red;
        }
        .header{
            height: 13%;
            border: 1px solid blue;
        }
        .patient-data{
            height: 13%;
            border: 1px solid blue;
        }
        .heamatology{
            height: 27%;
            border: 1px solid blue;
        }
        .biochemisrty{
            height: 7%;
            border: 1px solid blue;
        }
        .urine-exam{
            height: 13%;
            border: 1px solid blue;
        }
        .serology{
            height: 13%;
            border: 1px solid blue;
        }
        .notes{
            height: 8%;
            border: 1px solid blue;
        }
        .report-div{
            margin-bottom: 1%;
        }
    </style>
</head>
<body>
    <div class="main-body">
        <div class="header report-div"></div>
        <div class="patient-data report-div"></div>
        <div class="heamatology report-div"></div>
        <div class="biochemisrty report-div"></div>
        <div class="urine-exam report-div"></div>
        <div class="serology report-div"></div>
        <div class="notes report-div"></div>
    </div>
</body>
</html>