body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bill-container {
    margin: 20px;
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: auto;    
}

.patient-info{
    display: flex;
}

.patient-info table{
    width: 325px;
}
.patient-info td, .patient-info th{
    text-align: left;
    padding-left: 6%;
}
.heading-container {
    text-align: center;
}
.heading{
    font-size: 26px;
    font-weight: bolder;
    display: block;
    margin-bottom: 8px;
}
.sub-heading{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}
h1 {
    color: #333;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dddddda5;
}

.bg th, td {
    padding: 3px;
    text-align: center;
}

.total-section {
    text-align: right;
    margin-top: 20px;
}
.printButtonContainer{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

#printButton{
    width: 30%;
    background-color: #198754;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 1.3rem;
    font-size: medium;
    padding: 10px;
}

#addNewItem{
    background-color: #d0d0d0;
    border-radius: 20px;
    position:absolute;
    display: none;
    height: fit-content; 
    width: 40%;
    margin-left: 15%;
    z-index: 5;
    top: 20%;
}