.inputContent{
    display: flex;
    justify-content: space-between;
}
.inputDivs{
    width: 30%;
    padding-left: 10px;
    padding-top: 10px;
    border: 0.5px dotted black;
}

.inputDivs input, .inputDivs select {
    margin-top: 2%;
    width: 70%;

}

.autoFillDiv{
    width: 10%;
    border: 1px solid green;
    padding-left: 10px;
    padding-right: 10px !important;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.autoFillDiv input, .autoFillDiv button{
    width: 90%;
    margin-top: 10px;
}
.heading{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
