.dischargeItems{
    border-top:1px solid black ;
    border-bottom:1px solid black ;
    border-collapse: collapse;
}

.condition, .condition, .investigation-tables, .notes, .dischargePrescription{
    margin-bottom: 3px;
}

.treatmentgiven, .invstdone, .ohms{
    margin: 0px 0px 0px 5px;
}

table{
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}


textarea{
    display: inline-block;
    border: none;
    resize: none;
}
.container{
    width: 730px;
    height: 1040px;
}

.patient-data{
    padding-left: 5px;
}
.patient-data span{
    display: block;
    font-size: medium;
}
.patient-data label{
    font-size: large;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse !important;
}
.b1 th{
    padding: 10px;
}
input{
    font-size: medium;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    border-collapse: collapse;

}
.ohms-inputs input{
    border: none;
}
.b2 th{
    padding: 5px;
}

.b3 td{
    width: auto;
    height: 34px;
    border-collapse: collapse;
    padding-left: 2px;
    font-size: 13px
}
.b4 input{

    display: inline-block;
    width: 30px;
    border: none;
}

.b5 td{
    border: none !important;
}
.patient-info{
    height: 4%;
    border-top: 1px dotted rgb(20, 19, 19);
    border-bottom: 1px dotted rgb(20, 19, 19);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-collapse: collapse;
  
}

textarea{
    background-color: transparent !important;
    color: rgb(24, 6, 145);
}
input{
    background-color: transparent !important;
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}