div{
    border: 1px solid red;
}

.container{
    width: 730px;
    height: 1040px;
}
.patient-info{
    height: 5%;
    border-top: 1px dotted rgb(20, 19, 19);
    border-bottom: 1px dotted rgb(20, 19, 19);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}