ul{
    list-style: none;
  }
  .btn{
    font-weight: bold;
  }
  .menu-items{
    display: flex;
    justify-content: flex-start;
  }
  header{
    height: 90px;
    border-bottom: 1px dotted black;
    padding-bottom: 1%;
  }
  .dropdown-menu.show{
    background-color: rgb(235, 238, 238);
  }
  .logo{
    height: 90px;
    width: 120px !important;
  }
  