body{
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 99%;
}

.main-body-1, .main-body-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow-y: visible;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}


.medical-name{
    height: 14%;
    display: flex;
    justify-content: space-between;
}

.patient-info{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 2px dotted black;
    border-top: 2px dotted black;
}

.patient-data{
    width: 15%;
}
.patient-data label{
    display: block;
    font-size: medium;
    padding: 1%;
}

.patient-address label{
    display: block;
    font-size: medium;
    padding: 1%;
}

.patient-data small{
    padding: 1%;
}
.patient-address small{
    padding: 1%;
}
.patient-address{
    width: 20%;
}
.drug-table{
    height: 34%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
thead,th{
    position: sticky;
    top: 0;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 12px;
}
th {
    background-color: #f2f2f2;
}
