
.patient-data{
    font-size: small;
    margin-left: 0.5%;
    width: 11.76%;
}
.patient-data input{
    font-size: small;
    text-align: center;
    width: 98%;
}
.patient-data-heading{
    display: block;
    font-size: medium;
}
.patient-data-value{
    margin-top: 5%;
    font-size: medium !important;
      
}
.patient-container{
    display: flex;
    border-bottom: 1px dashed black;
    padding-bottom: 1%;
}
thead{
    position: sticky;
    top: 0;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.bg th{
    background-color: #025E73 !important;
    color: white !important;
    text-align: center;
}
.prescription-form{
    width: 26%;
    border-left: 1px solid black;
    padding-left: 1%;
}
.input-group-text{
    width: 120px;
}