.main-body{
    height: 88vh;
    display: flex;
}

.left{
    width: 75%;
    height: 100%;
    border-right: 1px solid black;
}
.addedTests{
    height: 78%;
    overflow: auto;

}

tbody{
    max-height: 500px;
    overflow: auto;
}
.right{
    width: 25%;
    height: 100%;
    padding-left: 1%;
}
table{
    border: 1px solid black;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    font-size: large;
    overflow: auto;
}

th{
    background-color: rgb(226, 222, 217);
}

td, th{
    border: 0.5px solid rgb(95, 93, 93) !important;
}
.input-group-text{
    width: 38%;
}

.patient-data{
    margin-top: 10px;
    margin-left: 0.5%;
    width: auto;
}
.patient-data input{
    width: 98%;
    font-weight: bold;
    font-size: small;
    text-align: center;
}
.patient-data-heading{
    display: block;
    font-weight: bold;
    font-size: medium;
}

.patient-data-autofill{
    align-items: center;
    width: auto;
}
.patient-data-autofill input{
    width: 20%; 
    margin-top: 40px; 
    text-align: center;
}

.patient-data-autofill button{
    margin-bottom: 5px;
    margin-left: 4px;
}

.patient-data-value{
    font-size: larger;
    font-weight: 400;   
}
.patient-container{
    display: flex;
    border-bottom: 1px dashed black;
    padding-bottom: 1%;
}
.bg th{
    text-align: center;
    color: white;
    background-color:  #025E73;
}
