body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    height: 100vh;
}

header{
    height: 10%;
}
footer{
    height: 5%;
}

.main-content{
    height: 84%;
}

h6 {
    margin-bottom: 5px;
    text-align: center;
    color: #333;
}
span{
    color: red;
    font-weight: bold;
}
#registrationForm {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    height: 100%;
    overflow-y: auto;
    margin-top: 1%;
}

label {
    display: block;
    color: #555;
}

input[type="text"], select, input[type="number"], textarea {
    width: calc(100% - 22px);
    padding: 2px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 600px) {
    #registrationForm {
        padding: 2px;
    }
    input[type="text"], select, input[type="number"], textarea {
        width: calc(100% - 20px);
        padding: 8px;
        font-size: 14px;
    }
    input[type="submit"] {
        padding: 5px 9px;
        font-size: 14px;
    }
}
