body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
thead,th{
    position: sticky;
    top: 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: small;
}
th {
    background-color: #f2f2f2;
}
.prescriptions-list{
    width: 100%;
    overflow: auto;
}


.prescription-form{
    border-left: 2px dotted black;
    width: 28%;
    margin-top: 3%;
}

.prescription-form .input-group{
    margin-left: 3%;
}

.input-group-prepend span{
    font-weight: bold;
}


.test-data label, .test-data input{
    font-size: small;
}

.form-floating{
    height: 30px !important;
}

.input-group-text{
    width: 120px;
}
.input-group-sm{
    width: 100%;
}
.input-group-prepend span{
    font-size: small;
}
.delButton:hover{
    background-color: rgb(160, 206, 206);
}