body{
    height: 100vh;
}
.main-body{
    height: 73%;
}
.heading{
    padding: 5px;
    background-color: #343a40!important;
    text-align: center;
    color: white;
    border: 2px solid white;

}

.searchElements{
    margin-left: 1%;
}

.pagination-box{
    height: 0%;
}
.bg th{
    font-size: medium;
    background-color: #025E73 !important;
    border-right: 1px dotted white;
    color: white !important;
  }
th, td,tr{
    font-size: medium;
    text-align: center;
    border-bottom: 1px solid #ddd !important;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.pagination li {
    margin: 0 5px;
    margin-top: 1%;
}
.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #333;
}
.pagination li a:hover {
    background-color: #f2f2f2;
}

.loader{
    position: fixed;
    left: 48%;
    top:50%;
    display: none;
}

#cancellationPopup{
    height:30%;
    width: 25%;
    border: 1px solid black;
    position: fixed;
    top: 40%;
    left: 35%;
    display: none;
    background-color: #f2f2f2;
}

