
.table{
    font-size: small;

}
.tr, td, tr, th{
    text-align: center;
    border: 1px dotted;
    border-top: none;
  }

.bg th{
    font-size: 15px;
    align-items: center;
    background-color: #025E73 !important;
    border-right: 1px dotted black;
    color: white !important;
  }


.tbody {
    overflow: auto;
}

#addPaymentPopup{
  width: 30%;
  position: fixed;
  top: 20%;
  left: 35%;
  background-color:#d0d0d0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  overflow-y: auto;
  margin-top: 4%;
}